<footer>

    <section id="other-links">
        <div id="bottom" class="container">
            <div class="eight columns botblck">
                <div class="region region-footer-first">
                    <div id="block-menu-menu-footer-menu-1" class="block block-menu">

                        <h2>ORGANIZAN</h2>

                        <div class="content">
                            <ul class="menu">
                                <li class="first leaf"><a href="{{ asset('http://www.fcom.uh.cu/') }}" target="_blank">Facultad de
                                        Comunicación de la Universidad de La Habana (FCOM-UH)</a></li>
                                <li class="last leaf"><a href="{{ asset('http://www.eventospalco.com/') }}" target="_blank">Palacio de
                                        Convenciones de La Habana</a></li>
                            </ul>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
            </div>
            <div class="eight columns botblck">
                <div class="region region-footer-second">
                    <div id="block-menu-menu-footer-menu-2" class="block block-menu">

                        <h2>AUSPICIAN</h2>

                        <div class="content">
                            <ul class="menu">
                                <li class="first leaf"><a href="{{ asset('http://www.bnjm.cu/ascubi/') }}" target="_blank">Asociación
                                        Cubana de Bibliotecarios (ASCUBI)</a></li>
                                <li class="leaf"><a href="{{ asset('http://www.accs.co.cu/') }}" target="_blank">Asociación Cubana de
                                        Comunicadores Sociales (ACCS)</a></li>
                                <li class="leaf"><a href="{{ asset('http://www.mes.gob.cu/') }}" target="_blank">Ministerio de
                                        Educación Superior de Cuba (MES)</a></li>
                                <li class="leaf"><a href="{{ asset('http://socict.org/') }}" target="_blank">Sociedad Cubana de
                                        Ciencias de la Información (SOCICT)</a></li>
                                <li class="leaf"><a href="{{ asset('http://www.uh.cu/') }}" target="_blank">Universidad de La Habana
                                        (UH)</a></li>
                                <li class="last leaf"><a href="{{ asset('http://www.cubaperiodistas.cu/') }}" target="_blank">Unión de
                                        Periodistas de Cuba (UPEC)</a></li>
                            </ul>
                        </div>

                    </div> <!-- /.block -->
                </div>
                <!-- /.region -->
            </div>
        </div>
    </section>

    <section id="copyright">
        <div class="container">
            <div class="credit">Copyright&copy;ICOM 2017, 2017 <br/> Developed by <strong>Braulio Rodríguez Aragones</strong>


            </div>
            <div class="clear"></div>
        </div>
    </section>


</footer>
