{% extends 'base.html.twig' %}

{% block body %}
    <h1>Coordinadores list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Gradocientifico</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coordinadore in coordinadores %}
            <tr>
                <td><a href="{{ path('coordinadores_show', { 'id': coordinadore.id }) }}">{{ coordinadore.id }}</a></td>
                <td>{{ coordinadore.nombre }}</td>
                <td>{{ coordinadore.apellidos }}</td>
                <td>{{ coordinadore.gradoCientifico }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('coordinadores_show', { 'id': coordinadore.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('coordinadores_edit', { 'id': coordinadore.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('coordinadores_new') }}">Create a new coordinadore</a>
        </li>
    </ul>
{% endblock %}
